#test {
  background-color: rgb(128, 8, 240);
}

.bodySearch {
  background-color: rgb(0, 28, 92);
  padding-bottom: 20px;
}

.forum {
 
  margin-left: 5px;
  margin-bottom: 0px;
}

#forum1{
  margin-top: 10px;
}
.headerSearch {
  padding-top: 100px;
}

.nameTitle {
  color: white;
  font-size: 25px;
}

.acessibilidade {
  position: relative;
  background-color: black;
  color: white;
}

.scroll {
  color: white;
  font-size: 15px;
}

.box {
  background-color: rgb(241, 240, 240);
  margin-top: 2%;
  border-radius: 1em;
}

.login-card {
  padding: 0px 75px 20px 75px;
  width: 500px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

  background-color: #081347;
}

.input-title {
  color: white;
  text-align: initial !important;
  font-size: 18px;
}

.login-card .btn {
  background-color: #f5791e;
  font-size: 18px;
  font-weight: bold;
}

.login-card #icons img {
  padding-left: 8px;
  text-align: end;
}
.nav-item a:hover {
  background: #b1b1b1;
  color: #fff;
  font-weight: bold;
  border-color: #b1b1b1;
}

#vagas {
  margin-top: 10px;
}

#rede{
  margin-top: 10px;
}

/*#forum1 div:hover{
  -webkit-transform: scale(0.7);
  transform: scale(0.9);
 }*/
 #vagas .box:hover{
   
  -webkit-transform: scale(0.7);
  transform: scale(0.9);
 }

 .box{
  cursor: pointer;
 }
 /*#grupos div:hover{
  -webkit-transform: scale(0.7);
  transform: scale(0.9);
 }
 #rede div:hover{
  -webkit-transform: scale(0.5);
  transform: scale(0.9);
 }*/

/*
 Página de Perfil:
 */

.page-title-container {
  background-color: #081347;
  width: 75%;
  margin: 25px auto !important;
}

.page-title-container h1 {
  align-self: center;
  font-size: 46px;
}
.perfil-container {
  background-color: #c5c5c5;
  padding: 20px;
}

.perfil-container h2 {
  text-align: center;
}


