#test {
    background-color: rgb(128, 8, 240);
}

.bodySearch {
    background-color: rgb(0, 28, 92);
    padding-bottom: 20px;
    
}

#forum {
  margin-right: 0px; 
  margin-left: 0px;
background-color: orange;    
}

.headerSearch{
    padding-top: 100px;
}

.nameTitle{
    color: white;
   font-size: 25px;
}

.acessibilidade{
    position: relative;
    background-color: black;
    color: white
}

.scroll  {
    color: white;
   font-size: 15px;
}

